To whom it may concern,

I am a holder of a Bachelor of Engineering in Mechanical Engineer (ABET accredited program) at Notre Dame
University – Louaize, Lebanon. And, I am currently a graduate student in Control and Robotics - Advanced
Robotics at École Centrale de Nantes, in France, with a planned graduation date being the end of August
2021.

I believe that I am a good candidate for this position because I have used Linux and ROS throughout my master’s program. And, during my end-of-study internship, I have used ROS2 to implement a model predictive controller (MPC) in order to allow a quadrotor to track aggressive trajectories in which the singularity configuration of the quadrotor must be crossed. I have also used git in order to track my code modifications throughout the project. And, I have used C++ to code in ROS, and I have used Python to code in ROS2.
Therefore, I believe that I have intermediate programming skills in both C++ and Python. And, having the
opportunity to work at Griffin Global Systems will allow me to improve my existing skills and learn new ones, in
addition to deepening my knowledge in robotics. 

I believe I am a motivated, open-minded and hard working person, with a strong interest in robotics. And, I like
to collaborate with others and to be a member of a team. And, I believe that having the opportunity to work at
Griffin Global Systems will allow me to improve the life of others through robotics, which was the main reason for
which I decided to pursue a career in this field. My motivations include: learning and acquiring new skills, new
knowledge, as well as a new professional and personal challenge.

Thank you for taking the time to consider my application.

Best regards,

Elie Hatem